<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.ixfosa.pojo"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/ixfosa/mapper/GoodsMapper.xml" />
        <mapper resource="com/ixfosa/mapper/SaleMapper.xml" />
    </mappers>
</configuration>