<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.ixfosa.demo1.Student">
        <property name="name" value="小佛" />
        <property name="age" value="23" />
    </bean>

    <bean id="mydate" class="java.util.Date">
        <property name="time" value="999999999" />
    </bean>
</beans>