<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--School模块所有bean的声明， School模块的配置文件-->
    <!--声明School对象-->
    <bean id="school" class="com.ixfosa.demo6.School">
        <property name="name" value="江科" />
        <property name="address" value="南昌" />
    </bean>
</beans>