<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName" >

<bean id="helloDao" class="com.ixfosa.dao.HelloDao" />

<bean id="helloService" class="com.ixfosa.service.HelloService" />

<bean id="test" class="com.ixfosa.test.Test" autowire="byType"/>

</beans>